.brace {
    color: #000;
    font-size: 80px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
    top: 70px;
    position: relative;
}
.brace-large {    
    font-size: 150px;
}
.jumbotron {
    margin-top: 30px;
}
.about ul {
    list-style:none;
}
.comment {
    margin-left: 10px;
    color: rgb(35, 110, 37);
}
.top {
margin-top:50px;
}
@media (max-width: 768px) {
    .brace-large-head {
        float:right;
        top: 40px;
        display: inline;
        position: absolute;
    }
}