{% extends "layout.html" %}

{% block content %}

{% autoescape true %}
<div class="row">
    <div class="col-lg-12">
        <header class="jumbotron" id="overview">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-left">
                        <h1>Active Analytics</h1>
                        <p class="lead">Adapting Web Pages Automatically Based on Analytics Data</p>
                    </div>
                </div>
            </div>

        </header>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            {% for row in snapshot.rows %}
            <tr>
                {% for col in row %}
                    <td>{{col}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endautoescape %}
{% endblock %}

